training-american-ws/src/main/app/andrew1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="andrew1-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="andrew1-config" raml="andrew1.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="andrew1-main">
        <http:listener config-ref="andrew1-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="andrew1-config" doc:name="APIkit Router"/>
        <exception-strategy ref="andrew1-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="andrew1-console">
        <http:listener config-ref="andrew1-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="andrew1-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/flights:andrew1-config">
        <set-payload value="[&#xA;{&#xA;&quot;ID&quot; : 1,&#xA;&quot;code&quot; : &quot;ER38sd&quot;,&#xA;&quot;price&quot; : 400,&#xA;&quot;departureDate&quot; : &quot;2016/03/20&quot;,&#xA;&quot;origin&quot; : &quot;MUA&quot;,&#xA;&quot;destination&quot; : &quot;SFO&quot;,&#xA;&quot;emptySeats&quot; : 0,&#xA;&quot;plane&quot; : {&#xA;&quot;type&quot; : &quot;Boeing 737&quot;,&#xA;&quot;totalSeats&quot; : 150&#xA;}&#xA;},&#xA;{&#xA;&quot;ID&quot; : 2,&#xA;&quot;code&quot; : &quot;ER45if&quot;,&#xA;&quot;price&quot; : 345.99,&#xA;&quot;departureDate&quot; : &quot;2016/02/11&quot;,&#xA;&quot;origin&quot; : &quot;MUA&quot;,&#xA;&quot;destination&quot; : &quot;LAX&quot;,&#xA;&quot;emptySeats&quot; : 52,&#xA;&quot;plane&quot; : {&#xA;&quot;type&quot; : &quot;Boeing 777&quot;,&#xA;&quot;totalSeats&quot; : 300&#xA;}&#xA;}&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/flights/{ID}:andrew1-config">
        <set-payload value="#[message.inboundProperties.'http.uri.params'.ID]" doc:name="Set Payload"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Andre_Database">
            <db:parameterized-query><![CDATA[SELECT *
FROM american
WHERE ID = #[payload]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	ID: payload01.ID,
	code: payload01.code1 ++ payload01.code2,
	price: payload01.price as :number,
	departureDate: payload01.takeOffDate as :string,
	origin: payload01.fromAirport,
	destination: payload01.toAirport,
	emptySeats: payload01.seatsAvailable as :number,
	plane: {
		type: payload01.planeType,
		totalSeats: payload01.totalSeats as :number
	}
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="post:/flights:andrew1-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;&quot;message&quot; : &quot;Flight updated (but not really)&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="andrew1-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
